.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 450px) {
  /* !!! Лучше использовать стандартные брейкпоинты, которые часто применяются во фронтенде, 
   такие как 768px, 1024px и т.д, вместо произвольных значений. 
   !! Кроме того, можно отказаться от media и использовать clamp()
  */
  .title {
    font-size: 25px;
  }
}
