.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 30px;
  width: 100%;
}

.emptyList {
  padding-top: 30px;
}

.link {
  color: var(--ErrorColor);
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
