.container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid var(--BorderColor);
  /* Вот смотри, ты везде отключил border, но здесь же указываешь его. Бессмыслено тогда в App.css отключать border */
}

img.image {
  width: 100%;
  object-fit: cover;
}

.text {
  font-size: 14px;
  padding: 5px;
  padding-bottom: 10px;
  line-height: 14px;
}

@media screen and (max-width: 500px) {
  /* !!! Лучше использовать стандартные брейкпоинты, которые часто применяются во фронтенде, 
   такие как 768px, 1024px и т.д, вместо произвольных значений. 
   !! Кроме того, можно отказаться от media и использовать clamp()
  */
  .text {
    font-size: 12px;
  }
}
